.books {
    padding-top: 33px;
    padding-bottom: 172px;
    background-color: #FFF5E7;
}
    .books__wrap {

    }
        .books__heading {
            margin-top: 0;
            margin-bottom: 0;
        }

        .books__list {
            margin-top: 27px;
        }

        .books__item {
            margin-top: 20px;
            display: flex;
            align-items: center;
        }

        .books__item:first-child {
            margin-top: 0;
        }

            .books__preview {
                flex-shrink: 0;
                display: block;
                width: 88px;
                height: 128px;
                padding: 7px;
                background-image: url("../vectors/books-88x128.svg");
                background-size: auto 100%;
                background-repeat: no-repeat;
                background-position: center center;
            }
                .books__cover {
                    vertical-align: top;
                    width: 74px;
                    height: 114px;
                }

            .books__title {
                flex-grow: 1;
                margin-left: 16px;
                margin-bottom: 4px;
                font-size: 15px;
                line-height: 22px;
            }

@media (min-width: 768px) {

    .books {
        padding-top: 63px;
        padding-bottom: 171px;
    }
        .books__wrap {

        }
            .books__heading {

            }

            .books__list {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                margin-top: 37px;
                margin-left: -17px;
                margin-right: -17px;
            }

            .books__item {
                flex-shrink: 0;
                margin-top: 0;
                width: 200px;
                margin-left: 17px;
                margin-right: 17px;
                display: block;
            }
                .books__preview {
                    width: 143px;
                    height: 209px;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 11px;
                    background-image: url("../vectors/books-143x209.svg");
                }
                    .books__cover {
                        width: 121px;
                        height: 187px;
                    }

                .books__title {
                    margin-left: 0;
                    margin-top: 16px;
                    text-align: center;
                }
}


