.section-title {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-heading);
    font-size: 36px;
    line-height: 38px;
    text-align: center;
}

@media (min-width: 768px) {

    .section-title {
        font-size: 42px;
        line-height: 48px;
    }
}
