.teaser {

}
    .teaser__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-family: var(--font-heading);
        font-weight: var(--font-weight-heading);
        font-size: 36px;
        line-height: 38px;
    }

    .teaser__body {
        margin-top: 21px;
        margin-bottom: 9px;
        font-size: 15px;
        line-height: 22px;
    }

    .teaser__more {
        margin-top: 2px;
        font-size: 15px;
        line-height: 22px;
    }



@media (min-width: 768px) {

    .teaser {

    }
        .teaser__heading {
            font-size: 42px;
            line-height: 46px;
        }

        .teaser__body {
            font-size: 17px;
            line-height: 26px;
        }

        .teaser__more {
            margin-top: 0;
        }
}


@media (min-width: 1024px) {

    .teaser {
        position: relative;
        padding-left: 160px;
    }
        .teaser::before {
            content: "";
            position: absolute;
            left: 51px;
            top: 20px;
            display: block;
            width: 50px;
            height: 4px;
            border-radius: 2px;
            background-color: currentColor;
        }

        .teaser__heading {

        }

        .teaser__body {

        }

        .teaser__more {

        }
}


@media (min-width: 1340px) {

    .teaser {
        padding-left: 300px;
        padding-right: 200px;
    }
        .teaser::before {
            left: 100px;
        }

        .teaser__heading {

        }

        .teaser__body {

        }

        .teaser__more {

        }
}
