/* Дефолтная версия делается для деталки товара (item.html) */

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
    .actions__buy-now {
        position: relative;
    }
        .buying .actions__buy-now .button {
            padding-left: 26px;
            padding-right: 26px;
        }

    .actions__add-to-cart {
        margin-top: 2px;
        font-size: 15px;
        line-height: 18px;
    }


/* В маленькой карточке товара в каталоге (блок .product) всё чуть меньше: */
.product__operations .actions {
    gap: 16px;
}
    .product__operations .actions__buy-now {

    }

    .product__operations .actions__add-to-cart {

    }



@media (min-width: 768px) {

    .actions {

    }
        .actions__buy-now {

        }

        .actions__add-to-cart {

        }
}
