.asterisk {
    display: inline-block;
    vertical-align: top;
    width: 6px;
    height: 6px;
    margin-top: 3px;
    margin-left: 2px;
    background-image: url("../vectors/asterisk.svg");
    background-size: 6px 6px;
    background-position: center top;
    font-weight: normal;
    font-size: 80%;
    color: var(--danger);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
