.counter {
    display: block;
    width: 90px;
    height: 90px;
    padding-top: 17px;
    padding-bottom: 19px;
    background-color: #FFF5E7;
    border-radius: 50%;
    font-family: var(--font_family_heading);
    font-weight: var(--font_weight_demi);
    font-size: 42px;
    line-height: 54px;
    text-align: center;
}
    .counter__value {
        display: block;
        margin-left: -50px;
        margin-right: -50px;
    }


.counter_size_smaller {
    width: 70px;
    height: 70px;
    font-size: 36px;
    padding-top: 15px;
    line-height: 48px;
    padding-bottom: 7px;
}