.informer {
    border: 1px solid #E9E8E8;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 42px 16px 50px;
    border-radius: 4px;
}
    .informer__note {
        font-family: var(--font-heading);
        font-weight: var(--font-weight-heading);
        font-size: 15px;
        line-height: 22px;
        color: #697882;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
    }

    .informer__heading {
        margin-top: 11px;
        margin-bottom: 0;
        font-family: var(--font-heading);
        font-weight: var(--font-weight-heading);
        font-size: 36px;
        line-height: 40px;
        text-align: center;
    }

    .informer__action {
        margin-top: 18px;
        position: relative;
        width: 100%;
        max-width: 276px;
        margin-left: auto;
        margin-right: auto;
    }
        .informer__action.button,
        .informer__action .button {
            width: 100%;
        }

    .informer__description {
        margin-top: 13px;
        margin-bottom: 0;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
    }


@media (min-width: 768px) and (max-width: 1023px) {
    .informer {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1024px) {
    .informer {
        padding-left: 116px;
        padding-right: 116px;
    }
}
