.info-panel {
    background-color: var(--brand_orange);
    color: #FFFFFF;
    text-align: center;
}
    .info-panel__wrap {

    }
        .info-panel__message {
            padding-top: 7px;
            padding-bottom: 7px;
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
            color: #FFFFFF;
            letter-spacing: 1px;
            text-transform: uppercase;
        }



@media (min-width: 768px) {

    .info-panel {
        /*background-color: var(--brand_orange);*/
        /*color: #FFFFFF;*/
        /*text-align: center;*/
    }
        .info-panel__wrap {

        }
            .info-panel__message {
                padding-top: 6px;
                padding-bottom: 6px;
                font-size: 14px;
                line-height: 22px;
                /*color: #FFFFFF;*/
                /*letter-spacing: 1px;*/
                /*text-transform: uppercase;*/
            }
}
