.label {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}

.label_simplified {
    font-weight: inherit;
    padding-bottom: 8px;
}