.link {
    position: relative;
    display: inline;
    vertical-align: baseline;
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: var(--brand_orange);
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

    .link::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: -13px;
        bottom: -13px;
    }


.link_fancy {
    white-space: nowrap;
}
    .link_fancy::after {
        content: "";
        position: absolute;
        left: 1px;
        right: 1px;
        bottom: -2px;
        height: 1px;
        background-image: linear-gradient(to right, currentColor 0, currentColor 2px, transparent 2px, transparent 4px);
        background-size: 4px 1px;
        background-repeat: repeat-x;
        background-position: left bottom;
        text-decoration: none;
        transition: opacity 0.1s ease;
    }

.link_fancy:hover {
    text-decoration: none;
}

    .link_fancy:hover::after {
        opacity: 0;
    }


.link_fake {
    text-decoration: none;
    color: inherit;
}

.link_fake:hover {
    text-decoration: none;
}

.link--text-alike-inverted
