.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    font-size: 17px;
    line-height: 26px;
}
    .list__item {
        position: relative;
        margin-top: 10px;
        padding-left: 32px;
    }

    .list__item:first-child {
        margin-top: 0;
    }

    .list__item::before {
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        display: block;
        width: 6px;
        height: 6px;
        background-color: currentColor;
        border-radius: 50%;
    }
