/* Весь файл -- импорт с более нового портала. Добавлен префикс portal- */

.portal-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}
