.product {
    position: relative;
    width: 276px;
    border: 1px solid #E9E8E8;
    border-radius: 3px;
}
    .product__preview {
        display: block;
        text-align: center;
    }
        .product__image {
            margin-top: -1px;
            margin-left: -1px;
            margin-right: -1px;
            vertical-align: top;
        }

        .product__image_box-art {
            margin-top: 8px;
        }

    .product__body {
        position: relative;
        padding: 17px 10px 20px;
        min-height: 178px;
    }
        .product__category {
            font-size: 11px;
            line-height: 14px;
            color: #697882;
            text-align: center;
        }

        .product__title {
            margin-top: 4px;
            margin-bottom: 0;
            font-family: var(--font-heading);
            font-weight: var(--font-weight-heading);
            font-size: 20px;
            line-height: 24px;
            text-align: center;
        }
            .product__link {
                display: inline-block;
                vertical-align: top;
                padding: 1px 5px 3px;
                color: inherit;
                text-decoration: none;
            }

            .product__link:hover {
                text-decoration: underline;
            }

        .product__price {
            margin-top: 9px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            color: #697882;
            text-align: center;
        }
            .product__regular-price {

            }

            .product__discount-price {
                margin-left: 5px;
                color: var(--brand_orange);
            }

        .product__operations {
            margin-top: 12px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
            .product__action {
                position: relative;
                margin-left: 27px;
            }

            .product__action:first-child {
                margin-left: 0;
            }

                .product__action::before {
                    content: "";
                    position: absolute;
                    right: 100%;
                    margin-right: 12px;
                    top: 4px;
                    display: block;
                    width: 1px;
                    height: 16px;
                    background-color: #E1E4E6;
                }

                .product__action:first-child::before {
                    display: none;
                }

                    .product__apply {
                        font-size: 15px;
                        line-height: 24px;
                    }


    .product__delete {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 24px;
        height: 24px;
        border: none;
        padding: 0;
        background-color: #FFFFFF;
        background-image: url("../vectors/product__delete.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 2px;
        text-decoration: none;
        cursor: pointer;
        transition: opacity 0.1s ease;
    }

    .product__delete:hover {
        opacity: 0.8;
    }
        .product__delete::before {
            content: "";
            position: absolute;
            left: -11px;
            top: -11px;
            right: -11px;
            bottom: -11px;
            display: block;
        }
