/* stylelint-disable declaration-colon-space-after */
:root {

    /* Roboto используется в весах 400, 500, 700 */
    --font_family_default: "Roboto", sans-serif;

    /* Futura PT используется только в 500, так что везде где есть font-family: var(--font-heading); должно сразу идти и font-weight: var(--font-weight-heading); */
    --font-heading: "Futura PT", "FuturaPT", "Futura-PT", sans-serif;
    --font-weight-heading: 500;

    /* Цвета */
    --brand_grey: #697882;
    --brand_orange: #FF7502;
    --image-fallback: #F8F8F8;
    --danger: var(--brand_orange);
}
/* stylelint-enable declaration-colon-space-after */
