/* stylelint-disable declaration-colon-space-after */
:root {

    /* Roboto используется в весах 400, 500, 700 */
    --font-body: "Roboto", sans-serif;

    /* Futura PT используется только в 500, так что везде где есть font-family: var(--font-heading); должно сразу идти и font-weight: var(--font-weight-heading); */
    --font-heading: "Futura PT", "FuturaPT", "Futura-PT", sans-serif;
    --font-weight-heading: 500;

    /* Контейнер */
    --container-padding: 15px;

    /* Цвета */
    --brand_grey: #697882;
    --brand_orange: #FF7502;
    --brand-orange-15pct: rgb(255 117 2 / 15%);
    --image-fallback: #F8F8F8;
    --danger: var(--brand_orange);
}
/* stylelint-enable declaration-colon-space-after */


@media (min-width: 360px) {
    :root {
        --container-padding: 30px;
    }
}




@media (min-width: 768px) and (max-width: 1023px) {
    :root {
       --container-width: 668px;
    }
}

@media (min-width: 1024px) and (max-width: 1339px) {
    :root {
        --container-width: 960px;
    }
}

@media (min-width: 1340px) {
    :root {
        --container-width: 1200px;
    }
}
