.swiper {
    position: relative;
    width: 100%;
}
    .swiper-wrapper {
        align-items: stretch;
    }
        .swiper-slide {
            height: auto;
        }

    .swiper-footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .swiper-pagination {
            width: auto !important;
        }


/* Точки */

.swiper-pagination-bullets {
    position: static;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
    .swiper-pagination-bullet {
        flex-shrink: 0;
        position: relative;
        margin: 0 !important;
        background-color: transparent;
        border-radius: 0;
        padding: 10px;
        width: auto;
        height: auto;
        opacity: 100%;
    }
        .swiper-pagination-bullet::after {
            content: "";
            flex-shrink: 0;
            display: block;
            width: 8px;
            height: 8px;
            background-color: #CACACA;
            border-radius: 50%;
        }

        /* hover */
        .swiper-pagination-bullet:hover::after {
            background-color: var(--brand_orange-60pct);
        }

    .swiper-pagination-bullet-active {
        cursor: default !important;
    }
        .swiper-pagination-bullet-active::after,
        .swiper-pagination-bullet-active:hover::after {
            background-color: var(--brand_orange);
        }

        /* hover */
        .swiper-pagination-bullet-active::before,
        .swiper-pagination-bullet-active:hover::before {
            display: none;
        }


/* Стрелочки */

.swiper-control {
    width: 34px;
    height: 34px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
    .swiper-icon {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-control:hover .swiper-icon {
        background-color: var(--brand_orange);
    }
        .swiper-chevron {
            vertical-align: top;
            width: 20px;
            height: 20px;
            fill: #CACACA;
        }

        .swiper-control:hover .swiper-chevron {
            fill: #FFFFFF;
        }


.swiper-control--disabled {
    cursor: default;
}
    .swiper-control--disabled .swiper-icon,
    .swiper-control--disabled:hover .swiper-icon {
        background-color: #FFE7A9;
    }
    .swiper-control--disabled .swiper-chevron,
    .swiper-control--disabled:hover .swiper-chevron {
        fill: #1D1D1F;
    }



.swiper--info {

}
    .swiper--info .swiper-control {
        position: absolute;
        z-index: 10;
        top: 50%;
        margin-top: -25px;
    }

    .swiper--info .swiper-control--prev {
        left: 10px;
    }

    .swiper--info .swiper-control--next {
        right: 10px;
    }


@media (max-width: 639px) {

    .swiper--info {

    }
        .swiper--info .swiper-control {
            top: 0;
            margin-top: 0;
            width: 48px;
            height: 100%;
        }

        .swiper--info .swiper-control--prev {
            left: 0;
        }

        .swiper--info .swiper-control--next {
            right: 0;
        }
            .swiper--info .swiper-icon {

            }
}




.swiper--main {

}
    .swiper--main .swiper-control {

    }

    .swiper--main .swiper-control--prev {

    }

    .swiper--main .swiper-control--next {

    }


/*@media (max-width: 639px) {*/

/*    .swiper--main {*/

/*    }*/
/*        .swiper--main .swiper-control {*/
/*            top: 0;*/
/*            margin-top: 0;*/
/*            width: 48px;*/
/*            height: 100%;*/
/*        }*/

/*        .swiper--main .swiper-control--prev {*/
/*            left: 0;*/
/*        }*/

/*        .swiper--main .swiper-control--next {*/
/*            right: 0;*/
/*        }*/
/*            .swiper--main .swiper-icon {*/

/*            }*/
/*}*/
