.title {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-heading);
    font-size: 36px;
    line-height: 40px;
}


.title--smaller {
    font-size: 26px;
    line-height: 30px;
}
