.window {
    position: relative;
    width: 100%;
    min-width: 290px;
    max-width: 420px;
    padding: 44px var(--container-padding) 20px;
    display: inline-block;
    vertical-align: top;
    background-color: #FFFFFF;
    border-radius: 2px;
    text-align: left;
}

@media (min-width: 360px) and (max-width: 767px) {
    .window {
        padding-bottom: 24px;
    }
}

    .window__heading {

    }

    .window__close {
        position: absolute;
        right: 8px !important;
        top: 0 !important;
        width: auto;
        height: auto;
        border: none;
        padding: 10px 0 10px 27px !important;
        background-color: transparent;
        font-family: inherit;
        font-weight: inherit;
        font-size: 15px;
        line-height: 24px;
        color: #000000;
        opacity: 1;
        cursor: pointer;
    }

    @media (min-width: 360px) and (max-width: 767px) {
        .window__close {
            right: 15px !important;
        }
    }

        .window__close::before {
            content: "";
            position: absolute;
            left: 0;
            top: 15px;
            width: 14px;
            height: 14px;
            background-image: url("../vectors/window__close.svg");
            background-size: 14px 14px;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .window__close:hover::after {
            color: #666666;
        }

        .window__close:active::after {
            color: #000000;
        }

        .window__close_simplified {
            right: 0 !important;
            width: 44px;
            height: 44px;
            padding: 0 !important;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden !important;
        }
            .window__close_simplified::before {
                left: 15px;
            }



.window__body {

}




@media (min-width: 768px) {
    .window {
        min-width: 0;
        max-width: none;
        padding: 44px 30px 30px;
        border-radius: 3px;
    }
        .window__close {
            right: 30px !important;
        }

        .window__close_simplified {
            top: 10px !important;
            right: 10px !important;
        }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .window {
        width: 668px;
    }
}

@media (min-width: 1024px) and (max-width: 1339px) {
    .window {
        width: 960px;
    }
}

@media (min-width: 1340px) {
    .window {
        width: 1200px;
    }
}



@media (min-width: 1340px) {
    .window_for_theater {
        width: 914px;
    }
}



.window_for_form {
    max-width: none;
}

@media (min-width: 768px) {
    .window_for_form {
        width: 600px;
    }
}
