.trust {
    padding-top: 53px;
    padding-bottom: 50px;
}
    .trust__wrap {

    }
        .trust__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-family: var(--font_family_heading);
            font-weight: var(--font_weight_demi);
            font-size: 32px;
            line-height: 32px;
            text-align: center;
        }

        .trust__body {
            margin-top: 21px;
            font-size: 17px;
            line-height: 26px;
            text-align: center;
        }

@media (min-width: 768px) {
    .trust {
        padding-top: 91px;
        padding-bottom: 88px;
    }

    .trust__heading {
        font-size: 42px;
        line-height: 46px;
    }

    .trust__body {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 14px;
    }
}

@media (min-width: 1024px) {
    .trust {
        padding-bottom: 113px;
    }
}
