.about-page {
    padding-top: 60px;
    padding-bottom: 100px;
}
    .about-page__wrap {

    }
        .about-page__heading {
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
        }

        .about-page__body {
            margin-top: 42px;
            display: flex;
            flex-direction: column;
            gap: 60px;
        }
            .about-page__section {
                display: flex;
                align-items: center;
                gap: 94px;
            }

            .about-page__section--reversed {
                flex-direction: row-reverse;
            }
                .about-page__image {
                    flex-shrink: 0;
                    width: 424px;
                    height: auto;
                    aspect-ratio: 4/3;
                    object-fit: cover;
                    vertical-align: top;
                    background-color: var(--image-fallback);
                    border-radius: 3px;
                }

                .about-page__content {
                    flex-grow: 1;
                }

            .about-page_features {

            }

            .about-page_numbers {

            }

            .about-page__sub-heading {
                margin-top: 24px;
                margin-bottom: 0;
                text-align: center;
            }


@media (min-width: 1024px) and (max-width: 1339px) {

        .about-page__section {
            gap: 60px;
        }
            .about-page__image {
                width: 376px;
            }
}


@media (max-width: 1023px) {

    .about-page__section {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .about-page__image {
        width: 376px;
    }
}


@media (max-width: 767px) {

    .about-page {
        padding-top: 32px;
        padding-bottom: 80px;
    }
        .about-page__body {
            margin-top: 30px;
        }

    .about-page__section {
        gap: 32px;
    }

    .about-page__image {
        width: 100%;
        height: auto;
    }

    .about-page__sub-heading {
        margin-top: 0;
        margin-bottom: -24px;
    }
}
