.alt-item {
    display: grid;
    grid-template-columns: 520fr 640fr;
    gap: 40px;
    padding-top: 32px;
    padding-bottom: 100px;
}
    .alt-item__preview {

    }
        .alt-item__preview .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 12px;
        }
            .alt-item__preview .swiper-slide {

            }

            .alt-item__preview .swiper-slide:first-child {
                grid-column: span 3;
            }

        .alt-item__preview:has(.swiper-slide:nth-child(5)):not(:has(.swiper-slide:nth-child(6))) .swiper-wrapper {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
            .alt-item__preview:has(.swiper-slide:nth-child(5)):not(:has(.swiper-slide:nth-child(6))) .swiper-slide:first-child {
                grid-column: span 4;
            }


    .alt-item__content {

    }
        .alt-item__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 32px;
            line-height: 36px;
        }

        .alt-item__intro {
            margin-top: 20px;
        }

        .alt-item__purchase {
            margin-top: 24px;
        }

        .alt-item__description {
            margin-top: 24px;
        }


@media (min-width: 1024px) and (max-width: 1339px) {

    .alt-item {
        gap: 36px;
        padding-top: 24px;
        padding-bottom: 80px;
    }
}



@media (min-width: 767px) and (max-width: 1023px) {

    .alt-item {
        display: block;
        /*padding-top: 24px;*/
        /*padding-bottom: 80px;*/
    }
        .alt-item__preview {

        }
            .alt-item__preview .swiper-wrapper {
                /*display: grid;*/
                /*grid-template-columns: repeat(3, minmax(0, 1fr));*/
                /*gap: 12px;*/
            }
                .alt-item__preview .swiper-slide {

                }

                .alt-item__preview .swiper-slide:first-child {
                    /*grid-column: span 3;*/
                }

            .alt-item__preview:has(.swiper-slide:nth-child(5)):not(:has(.swiper-slide:nth-child(6))) .swiper-wrapper {
                /*grid-template-columns: repeat(4, minmax(0, 1fr));*/
            }
                .alt-item__preview:has(.swiper-slide:nth-child(5)):not(:has(.swiper-slide:nth-child(6))) .swiper-slide:first-child {
                    /*grid-column: span 4;*/
                }


        .alt-item__content {

        }
            .alt-item__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*font-size: 32px;*/
                /*line-height: 36px;*/
            }

            .alt-item__intro {
                /*margin-top: 24px;*/
            }

            .alt-item__purchase {
                /*margin-top: 24px;*/
            }

            .alt-item__description {
                /*margin-top: 24px;*/
            }
}
