html:not(:has(.panel)) .apich-footer {
    margin-top: auto;
}


@media (min-width: 1024px) and (max-width: 1339px) {
    .apich-footer__primary {
        width: 280px;
    }
}

.apich-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--portal-black);
    color-scheme: dark;
    color: var(--portal-white);
}
    .apich-footer__wrap {
        display: flex;
        align-items: flex-start;
    }
        .apich-footer__secondary {
            width: 494px;
            flex-shrink: 0;
        }
            .apich-footer__intro {

            }

            .apich-footer__logo {
                display: block;
            }

            .apich-footer__note {
                margin-top: 10px;
                font-size: 12px;
                line-height: 18px;
            }

            .apich-footer__copyright {
                margin-top: 14px;
                font-size: 12px;
                line-height: 18px;
                color: var(--portal-grey-dark);
            }

            .apich-footer__copyright + .apich-footer__copyright {
                margin-top: 10px;
            }

    .apich-footer__primary {
        position: relative;
        margin-left: auto;
        width: 390px;
        flex-shrink: 0;
    }
        .apich-footer__mail {
            font-size: 20px;
            line-height: 24px;
            color: var(--portal-white);
        }


        .apich-footer__menu {
            margin-top: 16px;
        }
            .apich-footer__item {
                margin-top: 2px;
                font-size: 20px;
                line-height: 30px;
            }



        .apich-footer__social-heading {
            margin-top: 18px;
            font-size: 14px;
            line-height: 22px;
        }

        .apich-footer__social {
            margin-top: 12px;
        }



@media (max-width: 1023px) {

    .apich-footer {
        padding-top: 32px;
        padding-bottom: 48px;
    }
        .apich-footer__wrap {
            display: block;
        }
            .apich-footer__secondary {
                width: auto;
            }
                .apich-footer__intro {

                }

                .apich-footer__logo {

                }

                .apich-footer__note {

                }

                .apich-footer__copyright {

                }

                .apich-footer__copyright + .apich-footer__copyright {

                }

        .apich-footer__primary {
            width: auto;
            margin-top: 48px;
        }
            .apich-footer__mail {

            }


            .apich-footer__menu {

            }
                .apich-footer__item {

                }


            .apich-footer__social-heading {

            }

            .apich-footer__social {

            }
}


