.blog-preview {
    padding-top: 10px;
}
    .blog-preview__heading {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .blog-preview__list {
        margin-top: var(--landing-heading-gap);
    }

        @media (min-width: 768px) {

            .blog-preview__list .swiper-wrapper {
                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                gap: 16px;
            }
        }

        @media (min-width: 1024px) and (max-width: 1339px) {
            .blog-preview__list .swiper-wrapper {
                gap: 40px;
            }
        }

        @media (min-width: 1340px) {
            .blog-preview__list .swiper-wrapper {
                gap: 60px;
            }
        }

    .blog-preview__more {
        margin-top: 56px;
        text-align: center;
    }
        .blog-preview__more .button {
            min-width: 276px;
        }


