/* На основном магазине и на ЕГЭнаторе подвал прибивался к низу флексом на уровне body.
   Но на этом сайте у нас есть обёртка page и из-за неё надо откатить стили на body.
 */

body {
    display: block;
    height: 100%;
    min-height: 0;
}
