.button_palette_submit {
    background-color: var(--brand_orange);
    background-image: none;
    box-shadow: 0 20px 20px 0 rgba(57, 57, 57, 0.1) !important;
}

.button_palette_submit:hover {
    background-color: var(--brand_orange-hover);
}
    .button_palette_submit::before {
        display: none;
    }







