.button_palette_submit {
    background-color: var(--brand_orange);
    background-image: none;
    box-shadow: 0 20px 20px 0 rgba(57, 57, 57, 0.1) !important;
}

.button_palette_submit:hover {
    background-color: var(--brand_orange-hover);
}
    .button_palette_submit::before {
        display: none;
    }







.button_id-contacts-handler {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-heading);
    font-size: 13px;
    color: var(--brand_orange);
    text-transform: uppercase;
}

.button_id-contacts-handler:hover {
    background-color: var(--portal-panel-hover);
    border-color: var(--brand_orange);
    color: var(--brand_orange);
}

    @media (max-width: 1023px) {

        .button_id-contacts-handler {
            border-color: rgba(255, 255, 255, 0.3);
            color: #FFFFFF;
        }

        .button_id-contacts-handler:hover {
            border-color: rgba(255, 255, 255, 0.3);
            background-color: transparent;
            color: #FFFFFF;
            opacity: 1;
        }
    }

