.call__phone {
    color: #FFFFFF;
}

.call__note {
    color: #FFFFFF;
}


@media (min-width: 1024px) {

    .call__phone {
        color: var(--brand_orange);
    }

    .call__note {
        color: var(--brand_orange);
    }
}
