.channel {

}
    .channel__heading {
        font-weight: bold;
    }
    
    .channel__line {
        margin-top: 8px;
    }
        .channel__label {
            color: var(--brand_grey);
        }
