.location {
    background-image: url("../vectors/location-white.svg");
    color: #FFFFFF;
}



@media (min-width: 1024px) {

    .location {
        background-image: url("../vectors/location.svg");
        color: var(--brand_orange);
    }
}
