:root {

    /* оверрайд глобальных переменных */
    --brand_orange: #393939; /* В основном используется для текста */
    --danger: #F12260;

    /* Inter используется в весах 400, 500, 700 (так же как и Roboto в global) */
    --font-body: "Open Sans", sans-serif;

    /* RF Dewi Extended используется только в 800 (так же как и Futura PT в global) , так что везде где есть font-family: var(--font-heading); должно сразу идти и font-weight: var(--font-weight-heading); */
    --font-heading: "Open Sans", sans-serif;
    --font-weight-heading: 700;

    /* Импорт с более нового портала */
    --portal-panel-hover: #F2F2F2;
    --portal-orange: #FAD03D;
    --portal-black: #111111;
    --portal-black-hover: rgba(17, 17, 17, 0.8);
    --portal-white: #FFFEFB;
    --portal-grey-dark: #616161;
}
