.panel {
    height: var(--panel-mobile);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
}

.panel_visible {
    opacity: 1;
    visibility: visible;
}
    .panel__detachable {
        position: fixed;
        z-index: 100;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: var(--panel-mobile);
        padding-top: 22px;
        padding-bottom: 16px;
        background: #FFFFFF;
        box-shadow: 0 -2px 20px 0 rgba(42, 33, 26, 0.1);
        min-width: 320px;
    }
        .panel__wrap {
            position: relative;
        }

            .panel__show,
            .panel__hide {
                position: absolute;
                z-index: 10;
                left: 0;
                top: 0;
                padding: 11px 10px 15px;
                font-size: 11px;
                line-height: 14px;
                color: var(--brand_orange);
                cursor: pointer;
            }

            .panel__hide {
                display: none;
            }

            .panel__close {
                position: absolute;
                z-index: 10;
                right: 0;
                top: 0;
                display: inline-block;
                vertical-align: top;
                width: 44px;
                height: 44px;
                padding: 0;
                border: none;
                background-color: transparent;
                background-image: url("../vectors/panel__close.svg");
                background-size: 14px 14px;
                background-repeat: no-repeat;
                background-position: center center;
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                cursor: pointer;
                transition: opacity 0.1s ease;
            }

            .panel__visibility {
                display: block !important;
            }

            .panel__close:hover {
                opacity: 0.7;
            }

            .panel__heading {
                max-width: 300px;
                margin-left: auto;
                margin-right: auto;
                font-family: var(--font-heading);
                font-weight: var(--font-weight-heading);
                font-size: 24px;
                line-height: 28px;
                text-align: center;
            }

            /* костыль */
            @media (max-width: 324px) {
                .panel__heading {
                    margin-left: -2px;
                    margin-right: -2px;
                }
            }
            /*/костыль */

                .panel__detailing-ellipsis {
                    display: inline;
                }

                .panel__detailed-heading {
                    display: none;
                }

            .panel__body {
                margin-top: 9px;
                padding-bottom: 24px;
                display: none;
            }
                .panel__prices {
                    font-family: var(--font-heading);
                    font-weight: var(--font-weight-heading);
                    text-align: center;
                    white-space: nowrap;
                }
                    .panel__actual-price {
                        font-size: 36px;
                        line-height: 40px;
                        color: #FF7502;
                    }

                    .panel__old {
                        display: block;
                        margin-top: -5px;
                        font-size: 17px;
                        line-height: 28px;
                        color: var(--brand_grey);
                        text-decoration: line-through;
                    }

                .panel__actions {
                    margin-top: 6px;
                    text-align: center;
                }
                    .panel__begin {
                        min-width: 208px;
                    }

.panel__visibility:checked ~ .panel__show {
    display: none;
}

.panel__visibility:checked ~ .panel__hide {
    display: block;
}

.panel__visibility:checked ~ .panel__wrap .panel__body {
    display: block;
}

.panel__visibility:checked ~ .panel__wrap .panel__detailing-ellipsis {
    display: none;
}

.panel__visibility:checked ~ .panel__wrap .panel__detailed-heading {
    display: inline;
}



.panel_grounded {
    opacity: 1;
    visibility: visible;
}
    .panel_grounded .panel__detachable {
        position: static;
    }

    .panel_grounded .panel__close {
        display: none;
    }


@media (min-width: 768px) {
    .panel__show,
    .panel__hide {
        display: none !important;
    }

    .panel__heading {
        max-width: none;
        width: 525px;
        font-size: 24px;
        line-height: 31px;
    }
        .panel__detailed-heading {
            display: inline;
        }
            .panel__detailing-ellipsis {
                display: none;
            }

    .panel__body {
        display: flex !important;
    }
}




@media (min-width: 768px) and (max-width: 1023px) {

    .panel {
        height: var(--panel-small-tablet);
    }
        .panel__detachable {
            padding-top: 27px;
            height: var(--panel-small-tablet);
        }

        .panel__heading {

        }

        .panel__body {
            margin-top: 14px;
            padding-bottom: 0;
            align-items: flex-start;
            justify-content: center;
        }
            .panel__prices {
                margin-right: 32px;
                margin-top: 3px;
            }
}

@media (min-width: 1024px) {

    .panel {
        height: var(--panel-large-tablet);
    }

    .panel__detachable {
        padding-top: 35px;
        height: var(--panel-large-tablet);
    }

    .panel__wrap {
        display: flex;
        align-items: flex-start;
    }
        .panel__heading {
            margin-left: 0;
            margin-right: 0;
            text-align: left;
        }

        .panel__body {
            margin-top: 0;
            padding-bottom: 0;
            margin-left: auto;
            align-items: flex-start;
            justify-content: center;
        }
            .panel__prices {
                margin-right: 32px;
                margin-top: 0;
            }
                .panel__actual-price {

                }

                .panel__old {

                }

            .panel__actions {
                margin-top: 3px;
            }
}


@media (min-width: 1340px) {

    .panel {
        height: var(--panel-desktop);
    }

    .panel__detachable {
        padding-top: 35px;
        height: var(--panel-desktop);
    }

    .panel__wrap {
        width: 984px !important; /* override container */
    }

    .panel__begin {
        min-width: 260px;
    }
}
