.button_palette_brand {

}
    .button_palette_brand:hover,
    .button_palette_brand.button_loading,
    .button_palette_brand.button_success {
        background-color: #333333;
    }


.button_id-contacts-handler {

}
    .button_id-contacts-handler:hover {
        border-color: #333333;
        color: #333333;
    }

    @media (max-width: 1023px) {

        .button_id-contacts-handler:hover {
            border-color: rgba(255, 255, 255, 0.3);
            color: #FFFFFF;
        }
    }


.button_palette_submit {
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(89deg, #333333 0%, #000000 100%);
}
    .button_palette_submit::before {
        background-image: linear-gradient(89deg, #444444 0%, #111111 100%);
    }



/* Buttons from platform */

.contacts__callback,
.shelf__details,
.shelf__load-more {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

    .contacts__callback::before,
    .shelf__details::before,
    .shelf__load-more::before {
        content: "";
        position: absolute;
        left: 4px;
        top: 4px;
        width: 100%;
        height: 100%;
        background-color: #000000;
        border-radius: 10px;
    }
        .contacts__callback .button,
        .shelf__details .button,
        .shelf__load-more .button {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            vertical-align: top;
            border: none;
            padding: 13px 34px 15px;
            background-color: #FAD03D;
            border-radius: 8px;
            font-family: var(--font_egenator-heading);
            font-weight: var(--ultrabold);
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
            cursor: pointer;
        }

        .contacts__callback .button:hover,
        .shelf__details .button:hover,
        .shelf__load-more .button:hover {
            opacity: 1;
            background-color: #FBDD78;
        }



        @media (min-width: 1024px) {

            .contacts__callback {
                margin-top: -4px;
            }
        }

        .shelf__details .button {
            width: auto;
        }

        .contacts__callback .button {
            padding: 10px 20px;
            font-size: 14px;
        }

