@media (max-width: 1023px) {

    .header__contacts-body {
        background-color: #000000;
    }
}

@media (max-width: 767px) {


    .header__logo {
        width: 46px;
    }

    .body_scrolled .header__logo {
        overflow: hidden;
    }
}
