:root {
    --brand_orange: #000000;
    --danger: #F12260;
}



/* Yellow color (same as flame) */
/* ---------------------------- */



.button_palette_empty {
    border-color: #000000;
    color: #000000;
}

.button_id-contacts-handler {
    border-color: #000000;
    color: #000000;
}

.button_id-contacts-handler:hover {
    border-color: #000000;
    color: #000000;
}

.button_palette_submit,
.button_palette_submit::before {
    background-image: linear-gradient(89deg, #000000 0%, #000000 100%);
}

.button_palette_submit {
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15);
}

