.shelf__details {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.shelf__details .button {
    width: auto;
    padding: 17px 31px;
}

.shelf__heading {

}


.shelf__sub-heading {
    margin-top: 4px;
}
