.amount {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 8px;
}
    .amount__action {

    }

    .amount__input {

    }

    .amount__input .input__widget {
        -moz-appearance: textfield;
        width: 50px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .amount__input .input__widget::-webkit-outer-spin-button,
    .amount__input .input__widget::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .amount__action {

    }

    .amount__action_less {

    }

    .amount__action {
        width: 30px;
        height: 30px;
        border: none;
        background-color: #F4F4F4;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 50%;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
    }

    .amount__action_less {
        background-image: url(../vectors/amount-minus.svg);
    }

    .amount__action_more {
        background-image: url(../vectors/amount-plus.svg);
    }

    .amount__action_delete {
        background-image: url(../vectors/amount-delete.svg);
        background-size: 20px 20px;
    }

    .amount__action:hover {
        background-color: #ECECEC;
    }
