.article {
    padding-top: 35px;
    padding-bottom: 100px;
}
    .article__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-family: var(--font-heading);
        font-weight: var(--font-weight-heading);
        font-size: 36px;
        line-height: 40px;
        text-align: center;
    }

    .article__body {
        margin-top: 31px;
    }



@media (min-width: 768px) {

    .article {
        padding-top: 43px;
    }
        .article__heading {
            font-size: 42px;
            line-height: 54px;
        }

        .article__body {

        }
}


