/* оверрайд */


body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Новый модификатор .body_scrolled добавляется
 * когда страница прокручена. Ну и в зависимости от него у нас там
 * схлопывается шапка, могут прилипнуть категории и т.д.
 */

.body_scrolled {

}
