.cabinet {
    padding-top: 32px;
    padding-bottom: 80px;
}
    .cabinet__sidebar {
        overflow-x: auto;
    }
        .cabinet__ribbon {
            display: inline-flex;
            align-items: stretch;
        }

        @media (max-width: 420px) {
            .cabinet__sidebar {
                margin-left: calc(-1 * var(--container-padding));
                margin-right: calc(-1 * var(--container-padding));
            }
                .cabinet__ribbon {
                    padding-left: var(--container-padding);
                    padding-right: var(--container-padding);
                }
        }

            .cabinet__link {
                margin-left: -1px;
                border: 1px solid var(--brand_orange);
                padding: 13px 18px 8px;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                font-family: var(--font-heading);
                font-weight: var(--font-weight-heading);
                font-size: 14px;
                line-height: 18px;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: var(--brand_orange);
                text-decoration: none;
                white-space: nowrap;
            }
                .cabinet__link br {
                    display: none;
                }

                .cabinet__development {
                    font-family: var(--font-body);
                    font-weight: normal;
                    text-transform: none;
                    font-size: 13px;
                    line-height: 18px;
                    letter-spacing: 0;
                    opacity: 75%;
                }

            .cabinet__link:first-child {
                margin-left: 0;
            }

            .cabinet__link_current {
                background-color: var(--brand-orange-15pct);
            }

    .cabinet__body {
        margin-top: 32px;
    }



@media (min-width: 1024px) {

    .cabinet {
        padding-top: 16px;
        padding-bottom: 120px;
        display: flex;
        align-items: stretch;
    }
        .cabinet__sidebar {
            overflow-x: visible;
            flex-shrink: 0;
            width: 220px;
            margin: 0 50px 0 -16px;
        }
            .cabinet__ribbon {
                position: sticky;
                top: var(--header-large-tablets-and-desktop--simplified);
                display: block;
                padding-top: 18px;
                padding-left: 0;
                padding-right: 0;
                /*align-items: stretch;*/
                transition: top 0.6s ease;
            }

            .body_scrolling-down .cabinet__ribbon {
                top: var(--header-large-tablets-and-desktop);
                transition: top 0.3s ease;
            }
                .cabinet__link {
                    display: block;
                    margin: 0;
                    border: none;
                    padding: 14px 16px 12px;
                    border-radius: 4px;
                    /*font-family: var(--font-heading);*/
                    /*font-weight: var(--font-weight-heading);*/
                    /*font-size: 13px;*/
                    /*line-height: 18px;*/
                    /*text-transform: uppercase;*/
                    /*letter-spacing: 1px;*/
                    /*color: var(--brand_orange);*/
                    /*text-decoration: none;*/
                    /*white-space: nowrap;*/
                }
                    .cabinet__link br {
                        display: inline;
                    }

                .cabinet__link:first-child {
                    /*margin-left: 0;*/
                }

                .cabinet__link_current {
                    /*background-color: var(--brand-orange-15pct);*/
                }

        .cabinet__body {
            margin-top: 16px;
            flex-grow: 1;
        }
}



@media (min-width: 1340px) {

    .cabinet__sidebar {
        margin-right: 60px;
    }
}





@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) and (max-width: 1339px) {

}

@media (min-width: 1340px) {

}
