.code {

}
    .code__visibility {
        display: block !important;
    }

    .code__handler {
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        cursor: pointer;
    }

    .code__body {
        position: relative;
        display: none;
        grid-template-columns: 1fr auto;
    }
        .code__field {

        }
            .code__field .input__widget {
                padding-right: 13px; /* должнол быть 10, но кнопка заехала на 4 */
            }

        .code__submit {
            margin-left: -4px;
            padding-left: 14px;
            padding-right: 14px;
        }

        .code__output {
            grid-column: span 2;
            margin-top: 6px;
            display: none;
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            text-align: left;
            color: var(--danger);
        }


.code__visibility:checked {

}
    .code__visibility:checked ~ .code__handler {
        display: none;
    }
    .code__visibility:checked ~ .code__body {
        display: grid;
    }


@media (min-width: 768px) {
    .code__body {
        margin-top: -10px;
    }
}
