.customer {
    padding-top: 32px;
}
    .customer__head {

    }
        .customer__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-family: var(--font-heading);
            font-weight: var(--font-weight-heading);
            font-size: 36px;
            line-height: 40px;
            text-align: center;
        }

        .customer__price {
            margin-top: 14px;
            font-weight: 500;
            font-size: 15px;
            line-height: 24px;
            color: #697882;
            text-align: center;
        }


    .customer__body {
        margin-top: 20px;
    }



@media (min-width: 768px) and (max-width: 1023px) {
    .customer {
        padding-top: 42px;
    }
}

@media (min-width: 1024px) {
    .customer {
        padding-top: 42px;
    }
        .customer__body {

        }
}

@media (min-width: 1340px) {

}
