.serial-key {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-style: italic;
    gap: 4px;
}
    .serial-key__title {

    }

    .serial-key__value {
        margin-right: 8px;
        white-space: nowrap;
    }

    .serial-key__copy {

    }
