/* override */

.logo {
    width: 168px;
    height: 80px;
    padding: 0;
    background-image: url("../images/logo.svg");
    background-size: auto 100%;
    background-position: center center;
    transition: height 0.3s ease; /* будет уменьшаться при прокрутке */
}


.body_scrolled .logo {
    height: 62px;
}



@media (max-width: 767px) {

    .logo,
    .body_scrolled .logo {
        width: 101px;
        height: 48px;
    }
}
