.my-orders {

}
    .my-orders__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .my-orders__list {
        margin-top: 40px;
    }
        .my-orders__item {
            margin-top: 48px;
        }
