.order {

}
    .order__data {

    }
        .order__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
        }
            .order__summary {

            }

            .order__status {
                margin-top: 12px;
                display: block;
            }

            .order__status_completed {
                color: var(--success);
            }

            .order__status_waiting {
                font-weight: 500;
                color: var(--warning);
            }

            .order__status_cancelled {
                color: var(--danger);
            }

        .order__contains {
            margin-top: 16px;
        }
            .order__item {
                margin-top: 16px;
                border-bottom: 1px solid #F2F5F6;
                padding-bottom: 16px;
            }

            .order__item:first-child {
                margin-top: 0;
                border-top: none;
                padding-top: 0;
            }

                .order__course {
                    font-size: 15px;
                    line-height: 22px;
                }
                    .order__serial-key {
                        margin-top: 4px;
                        padding-left: 4px;
                    }

                    .order__serial-key::before {
                        content: "";
                        float: left;
                        margin-top: 8px;
                        margin-right: 8px;
                        display: block;
                        width: 10px;
                        height: 10px;
                        border-left: 2px solid #A7C0D0;
                        border-bottom: 2px solid #A7C0D0;
                    }

                .order__numbers {
                    margin-top: 8px;
                }
                    .order__param {
                        position: relative;
                        padding-left: 18px;
                        display: inline;
                        vertical-align: baseline;
                        font-size: 15px;
                        line-height: 22px;
                        white-space: nowrap;
                    }

                    .order__param:empty {
                        display: none;
                    }
                        .order__param::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 6px;
                            display: block;
                            font-weight: bold;
                            font-size: 16px;
                            margin-right: 8px;
                            margin-left: 4px;
                            width: 4px;
                            height: 4px;
                            background-color: #A7C0D0;
                            border-radius: 50%;
                        }

                    .order__param:first-child {
                        padding-left: 0;
                    }
                        .order__param:first-child::before {
                            display: none;
                        }

                    .order__param--title {

                    }

                    .order__param--amount {

                    }


                    /* Обычная цена, без скидки: */

                    .order__param--price {
                        font-weight: 500;
                    }


                    /* Скидки: */

                    .order__param--regular-price {
                        font-weight: 500;
                        text-decoration: line-through;
                        color: #697882;
                    }

                    .order__param--discount-price {
                        font-weight: 500;
                        color: var(--brand_orange);
                    }

    .order__footer {
        margin-top: 16px;
        font-size: 18px;
        line-height: 26px;
    }
        .order__total {
            font-weight: bold;
            white-space: nowrap;
        }

        .order__payment {
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 24px;
        }



@media (min-width: 768px) {

    .order {

    }
        .order__data {

        }
            .order__heading {

            }
                .order__summary {

                }

                .order__status {
                    margin-left: 8px;
                    position: relative;
                    padding-left: 16px;
                    font-size: inherit;
                    display: inline;
                }
                    .order__status::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 9px;
                        width: 5px;
                        height: 5px;
                        background-color: #A7C0D0;
                        border-radius: 50%;
                    }


            .order__contains {
                margin-top: 20px;
            }

        .order__contains {

        }

        .order__footer {
            text-align: right;
        }
            .order__total {

            }

            .order__payment {
                justify-content: flex-end;
            }
}



@media (min-width: 1340px) {

    .order {

    }
        .order__data {

        }
            .order__heading {

            }
                .order__summary {

                }

                .order__status {

                }
                    .order__status::before {

                    }


            .order__contains {
                margin-top: 20px;
                border-top: 1px solid #F2F5F6;
            }
                .order__item,
                .order__item:first-child {
                    margin-top: 0;
                    padding-top: 16px;
                    display: flex;
                    align-items: flex-start;
                    gap: 32px;
                }

                .order__item:first-child {

                }
                    .order__course {

                    }

                    .order__numbers {
                        margin-top: 0;
                        margin-left: auto;
                        white-space: nowrap;
                    }
                        .order__param {

                        }

                        .order__param:empty {

                        }
                            .order__param::before {

                            }

                            .order__param:first-child::before {

                            }

                            .order__param s {

                            }

                        .order__param--title {

                        }

                        .order__param--amount {

                        }

                        .order__param--price {

                        }

                        .order__param--discount {

                        }

                        .order__param--discounted-price {

                        }

        .order__footer {
            text-align: right;
        }
            .order__total {

            }

            .order__payment {
                justify-content: flex-end;
            }
}
