/* stylelint-disable declaration-colon-space-after */
:root {
    --panel-mobile: 92px;
    --panel-tablet-and-desktop: 159px;

    --header-mobile: 120px;
    --header-mobile--simplified: 76px;

    --header-small-tablets: 134px;
    --header-small-tablets--simplified: 89px;

    --header-large-tablets-and-desktop: 126px;
    --header-large-tablets-and-desktop--simplified: 87px;


    /* Высота меню должна быть известна для вёрстки.
     * По умолчанию полагаем, что это 61px из расчёта на одну строку айтемов.
     * Но если будут добавлены новые предметы на сайт, то строк может стать две (93px).
     *
     * Этот момент, кстати, можно прозевать не заметив, что строк стало две на планшетах.
     * На этот случай есть ещё проверка JS-ом. При загрузке сайта это значение
     * в --navigation-height будет перезаписано. Смотри nav.js
     * Эти 61px, это, скорее, значение по-умолчанию, до момента пока заупстится скрипт:
     */
    --navigation-height: 61px;
}
/* stylelint-enable declaration-colon-space-after */
